{% include 'layout.html' %}

<div class="container">
  <div class="card">
    <div class="card-header">Let's edit password!</div>
    <div class="card-body">
      {% if msg %}
        {% if msg == 'Password updated' %}
          <div class="alert alert-success" role="alert">{{msg}}</div>
        {% else %}
          <div class="alert alert-danger" role="alert">{{msg}}</div>
        {% endif %}
      {% endif %}

      <form method="POST" action="/users/edit-password">
        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" name="username" required />
        </div>
        <div class="form-group">
          <label>Verify Original Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            required
          />
        </div>
        <div class="form-group">
          <label>New Password</label>
          <input
            type="password"
            class="form-control"
            name="password2"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Edit</button>
      </form>
    </div>
  </div>
</div>
