{% include 'layout.html' %}

<div class="container">
  <div class="card text-center">
    <div class="card-header">Your Todos!</div>
    <div class="card-body">
      <h5 class="card-title">List of your Todos!</h5>
      <p class="card-text">
        Information regarding stuff that needs to be complete
      </p>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Info</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="pointer">
            <td>1</td>
            <td id="td1">Take out the trash</td>
            <td>
              <button type="button" class="btn btn-success">Complete</button>
              <button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>

          <tr class="pointer">
            <td>2</td>
            <td>Take out the trash</td>
            <td>
              <button type="button" class="btn btn-success">Complete</button>
              <button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>

          <tr class="pointer">
            <td>3</td>
            <td>Take out the trash</td>
            <td>
              <button type="button" class="btn btn-success">Complete</button>
              <button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>

      <a href="#" class="btn btn-primary">Add a new Todo!</a>
    </div>
  </div>
</div>
